name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  cabal:
    name: cabal ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
        cabal:
          - '3.14.1.0'
        ghc:
          - 9.0.2
          - 9.2.8
          - 9.4.8
          - 9.6.7
          - 9.8.4
          - 9.10.3
          - 9.12.2

    steps:
      - uses: actions/checkout@v4
        if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

      - uses: haskell-actions/setup@v2
        id: setup-haskell-cabal
        name: Setup Haskell Cabal
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}

      - uses: actions/cache@v4
        name: Cache ~/.cabal/store
        with:
          path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}

      - name: Build
        run: cabal build --enable-tests --enable-benchmarks --write-ghc-environment-files=always

      - name: Test
        run: cabal test --enable-tests

  stack:
    name: ${{ matrix.stack-yaml }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack:
          - 3.7.1
        stack-yaml:
          - stack-9.0.2.yaml
          - stack-9.2.8.yaml
          - stack-9.4.8.yaml
          - stack-9.6.7.yaml
          - stack-9.8.4.yaml
          - stack-9.10.3.yaml
          - stack-9.12.2.yaml
    steps:
      - uses: actions/checkout@v4
        if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

      - uses: haskell-actions/setup@v2
        name: Setup Haskell Stack
        with:
          stack-version: ${{ matrix.stack }}

      - uses: actions/cache@v4
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.stack-yaml }}

      - name: Install dependencies
        run: |
          stack build --stack-yaml ${{ matrix.stack-yaml }} --test --bench --no-run-tests --no-run-benchmarks --only-dependencies
      - name: Build
        run: |
          stack build --stack-yaml ${{ matrix.stack-yaml }} --test --bench --no-run-tests --no-run-benchmarks
      - name: Test
        run: |
          stack test --stack-yaml ${{ matrix.stack-yaml }}
